[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "zsh-snap"]
	path = shell/zsh/remote/zsh-snap
	url = https://github.com/marlonrichert/zsh-snap.git
	ignore = dirty
